@import './fonts.css';
@import './variables.css';

body {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size);
  background-color: var(--color-neutral-light-gray);
  padding: 0 9vw;
  padding-top: 10vh;
}
