
:root {
  /* Color */
  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-blue: hsl(212, 86%, 64%);
  --color-neutral-dark-blue: hsl(234, 12%, 34%);
  --color-neutral-gray-blue: hsl(229, 6%, 66%);
  --color-neutral-light-gray: hsl(0, 0%, 98%);

  /* Typography */
  --font-family-poppins: 'Poppins', sans-serif;
  --font-size: 15px;
}
