.header {
    text-align: center;
}

.title {
    font-weight: 300;
    color: var(--color-neutral-dark-blue);
}

.subtitle {
    font-weight: 600;
    color: var(--color-neutral-dark-blue);
}

.title, .subtitle {
    font-size: 6.5vw;
}

.description {
    color: var(--color-neutral-gray-blue);
    margin-top: 1.5rem;
    font-size: 4.2vw;
}

@media screen and (min-width: 375px) {
    .header{
        padding: 0 6vw;
    }

    .title, .subtitle {
        font-size: 2.5rem;
    }

    .description {
        font-size: 1.5rem;
    }
}